.about-container {
  margin: 3vh 2vw 2vh 4vw;
}

li {
  list-style: none;
}

.skills,
.strengths {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 16px;
  padding: 20px;
  background-color: #fff7f7;
  border-radius: 10px;
  margin-top: 2vh;
}

.skills ol,
.strengths ol {
  display: contents;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills li,
.strengths li {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  color: #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificates {
  display: flex;
}

.certificates li {
  width: 60vw;
  height: 10vh;
}

.certificates a {
  text-decoration: none;
  color: blueviolet;
  margin: 0vh 2vw;
}
@media (max-width: 320px) {
  .certificates li,.certificates a{
    padding-top: 3vh;
  }
}