.projects-container{
    margin: 5vh 0px 2vh 3vw;
}
.pro{
    display: flex;
}
.projects-container li{
    width: 50vw;
    height: 10vh;
}
.projects-container a{
  text-decoration: none;
  color: blueviolet;
  margin: 0vh 2vw;
}
